.pagemain {
    display: flex;
    flex-direction: row;
    background: black;
    min-height: 100vh;
}

.pagemain__left {
    position: relative;
    width: 70%;
    padding: 15px;
}

.pagemain__right {
    border-left: 1px solid #61dafb;
    right: 0;
}
.pagemain__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
