.pagemain {
    display: flex;
    flex-direction: row;
    background: black;
}

.pagemain__left {
    position: relative;
    width: 70%;
    padding: 15px;
}

.pagemain__right {
    border-left: 1px solid #61dafb;
    right: 0;
}