.sugesstion {
    width: 20vw;
    padding: 15px;
    position: sticky;
    top: 0px;
    overflow-y: auto; 
    height: 100vh;
    direction: rtl; 
}

.sugesstion__title {
    text-align: end;
    color: #61dafb;
    font-weight: bold;
    position: sticky;
    top: 0px;
}
.username__info {
    text-align: end;
}
.sugesstion__username__left {
    display: flex;
    align-items: center;
}

.sugesstion__username {
    padding: 3px;
    /* display: flex; */
    /* flex-direction: row-reverse !important; */
    /* justify-content: space-between;
    margin-top: 15px;
    gap: 10px; */
}

/* .sugesstion__username  span {
    order: 0 !important;
} */

.sugesstion__title__userbadge {
    color: white;
}
.username__info {
    display: flex;
    flex-direction: column;
}

.username__relation {
    color: gray;
    font-size: 12px;
}

.sugesstion__follow__btn {
    color: #61dafb;
    font-weight: bold;
    background: 0;
    border: 0;
}

.sugesstion__follow__btn:hover {
    color: blue;
    cursor: pointer;
}

.username {
    font-weight: bolder;
    font-size: 16px;
    color: white;
}

.avatar {
    margin-right: 10px;
}




.sugesstion::-webkit-scrollbar {
    width: 5px; /* Ширина скрола */
  }
  
.sugesstion::-webkit-scrollbar-thumb {
    background-color: #61dafb; /* Колір пальця скрола */
    border-radius: 4px; /* Радіус кутів пальця скрола */
  }
  
.sugesstion::-webkit-scrollbar-track {
    background: transparent; /* Колір фону скрола */
}