.user {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    /* gap: 50px; */
    /* width: 100%; */
}
.user__root {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    cursor: pointer;

    &:hover div {
        background-color: black;
    }
}

.user__avatar{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.user__placeholder{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #e6e6e6;
}

.user__name {
    padding-left: 10px;
    font-size: 16px;
    font-weight: bolder;
    color: white;
}


