.body__overlay {
    overflow: hidden;
}


.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65vw; 
    height: 80vh;
    background-color:white;
    border-radius: 10px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    z-index: 1000;
}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); 
    border-radius: 10px; 
    z-index: 1000;
}

.modal__main {
    display: flex;
    color: black !important;
}

.modal__main__image {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #61dafb;
    min-width: 30vw;
    height: 80vh;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; 
}

.modal__main__img {
    max-width: 1024px;
    max-height: 1024px;
}

.modal__main__commentBlock {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    flex-direction: column;
    color: black !important;
}

.modal__main__logo {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #61dafb;
    padding: 10px;
    height: 40px;

}

.modal__main__logo__name {
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
}

.modal__main__comment {
    max-height: 53vh;
    padding: 10px;
    color: black !important;
    overflow-y: auto;
}

.modal__main__logo__avatar, .modal__main__logo__Avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.modal__icons__icon, .modal__main__likes{
    margin:  auto;
    padding: 5px;
}



.modal__main__comment::-webkit-scrollbar {
    width: 10px; /* Ширина скрола */
  }
  
.modal__main__comment:-webkit-scrollbar-thumb {
    background-color: #61dafb; /* Колір пальця скрола */
    border-radius: 4px; /* Радіус кутів пальця скрола */
  }
  
.modal__main__comment::-webkit-scrollbar-track {
    background: transparent; /* Колір фону скрола */
}