.userbio {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.userbio__avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-right: 35px;
}
.userbio__nick{
    font-weight: 600;
    font-size: 20px;
    margin-right: 10px;
}

.userbio__info {
    display: flex;
    flex-direction: column;
}

.userbio__main {
    display: flex;
    align-items: center;
}
.userbio__counter {
    margin-right: 50px;
}