.userbio {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.userbio__avatar, .userbio__avatar__Avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-right: 35px;
}
/* .userbio__avatar {
    object-fit: cover;
} */
.userbio__avatar__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userbio__avatar__Avatar {
    width: 130px !important;
    height: 130px !important;
    font-size: 2rem !important;
    background-color: #91e7ff !important;
}
.userbio__nick{
    font-weight: 600;
    font-size: 22px;
    margin-right: 10px;
}
.userbio__name {
    font-weight: 500;
    font-size: 16px;
}

.userbio__date{
    font-size: 14px;
}

.userbio__info {
    display: flex;
    flex-direction: column;
}

.userbio__main {
    display: flex;
    align-items: center;
    gap: 25px;
    margin: 7px;
    font-size: 18px;

}
.userbio__counter {
    margin-right: 50px;
}

.userbio__btn {
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #91e7ff;

    &:hover {
        background-color: #61dafb;
    }
    &:active {
        background-color: #91e7ff;
    }
}