.comment {
    display: flex;
    align-items: center;

}

.comment__name {
    font-size: 14px;
    font-weight: bolder;
    margin: 0 5px 0 5px;
    color: white;
}
.comment__text {
    word-wrap: break-word;
    color: white;
}