.post {
    max-width: 600px;
    margin: 10px 40px 50px 40px;
    color: white;
}

.post__header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    color: white;
    width: 100%;
}
.post__date {
    font-size: 12px;
}

.post__headerAuthor {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    align-items: center;
    font-weight: bolder;
    gap: 8px;
    color: white;
}

.post__headerAuthor > span {
    color: #61dafb;
    font-size: 16px;
    color: white;

}

.post__image > img {
    width: 100%;
    border-radius: 6px;
    border: 0.5px solid #61dafb;
}

.postIcon {
    font-size: 12px;
    padding: 10px;
    transition: opacity 0.2s;

    &:hover {
        opacity: 0.7;
    }
}

.post__footerMain > span, .post__footerSave > span {
    color: #61dafb;
}

.post__footerIcons {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}


.post__footer__likes {
    font-size: 14px;
}

.post__comment {
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: white;
}


.post__comment__title {
    font-size: 14px;
    color: #808080;
    cursor: pointer;
}

.post__textarea__wrapper{
    position: relative;
    display: flex;

}

.post__textarea__btn{
    /* position: absolute; */
    bottom: 5px;
    right: 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 5px;
    cursor: pointer;
    background-color: #91e7ff;

    &:hover {
        background-color: #61dafb;
    }
    &:active {
        background-color: #91e7ff;
    }
}

.post__image__img{
    width: 100%;
}