.homepage {
    display: flex;
    flex-direction: row;
    /* position: fixed; */
}


.homepage__timeline {
    margin-left: 20vw;
    width: 80vw;
}

.sidenave__logo {
    font-size: 32px;
    margin: 15px 0 40px 0;
}
.sidenave__logo a {
    text-decoration: none;
    font-weight: bold;
    color: #61dafb;
}
.sidenave__logo a:hover {
    font-size: 31px;
}
  
.sidenave__buttons,
.sidenave__more {
    display: flex;
    flex-direction: column;
}

.sidenave__btn a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s; 
}

.sidenave__btn:hover a {
    color: rgb(0, 0, 0);
}
.sidenave__btn:hover span {
    color: rgb(0, 0, 0);
}
.sidenave__btn:hover > div > div > div {
    background-color: rgb(0, 0, 0);
}

.sidenave__btn {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    gap: 10px;
    margin: 5px 10px 5px 10px;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    width: 100%;
    background: 0;
    border: none;
    transition: all 0.4s;
}

.sidenave__btn:hover {
    background-color: #78e2ff;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.sidenave__btn:active {
    opacity: .7;
    background-color: #5ddcff;
}

.sidenave__more {
    justify-self: end;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background: black;
    width: 20vw;
    height: 100vh;
    gap: 20px;
}
